* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background-color: #eeeeee;
}
.container {
    width: 100%;
    /* min-height: 100vh; */
    background-color: #eeeeee;
}
.Logo {
    display: flex;
    font-size: 2.4vw;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    
}
.Logo span{
    color: #7f00ff;
    text-transform: uppercase;
}
b {
    font-size: 4vw;
    color: #7f00ff;
}
/* p{
    font-family: 'Tangerine';
} */
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 5vw;
    z-index: 111;
}
.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    margin: 2vw 2vw;
}

.navItems li a {
    font-size: 1.5vw;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

}
.navItems li:hover a,
.links a:hover {
    color: #7f00ff;
}

/* page */
span{
    color: #7f00ff;
}
/* obj */
.obj{
    filter: blur(10px);
    -webkit-filter: blur(5px);
    position: absolute;
    content: '';
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    left: 55vw;
    top: 20vw;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object 8s linear infinite;
}
@keyframes object{
    50%{
        left: 60vw;
        top: 25vw;
        
    }
}
/* obj1 */
.obj1{
    filter: blur(10px);
    -webkit-filter: blur(5px);
    position: absolute;
    content: '';
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    left: 30vw;
    top: 8vw;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object1 8s linear infinite;
}
@keyframes object1{
    50%{
        left: 25vw;
        top: 10vw;
        
    }
}
/* obj2 */
.obj2{
    filter: blur(10px);
    -webkit-filter: blur(5px);
    position: absolute;
    content: '';
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    left: 30vw;
    top: 35vw;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object2 10s linear infinite;
}
@keyframes object2{
    50%{
        left: 35vw;
        top: 36vw;
        
    }
}
/* obj3 */
.obj3{
    filter: blur(10px);
    -webkit-filter: blur(5px);
    position: absolute;
    content: '';
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    left: 10vw;
    top: 105vw;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object3 5s linear infinite;
}
@keyframes object3{
    50%{
        left: 5%;
        top: 108vw;
        
    }
}
/* obj 4 */
.obj4{
    filter: blur(10px);
    -webkit-filter: blur(5px);
    position: absolute;
    content: '';
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    left: 40vw;
    top: 80vw;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object4 8s linear infinite;
}
@keyframes object4{
    50%{
        left: 45vw;
        top: 75vw;
        
    }
}
/* page 1 */

.page{
    color: #3d535f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 5%; */
    width: 90vw;
    /* height: 80vh; */
    left: 5%;
    top: 5vh;
    /* height: 80vh; */
    /* width: 100%; */
    padding: 2vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    position: relative; 
    border-radius: 1vw;
    border: 2px solid rgba(255, 255, 255,0.7 );
    backdrop-filter: blur(20px); /*important! 1*/ 
    border-left:2px  solid rgba(255, 255, 255, 0.5);
    border-bottom:2px  solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 30px rgba(88, 88, 88, 0.3);
}

.page .project{
    padding-right: 40px;
    font-size: 1vw;
    
}
.page .project h1{
    font-size: 2vw;
}
#video{
    border-radius: 10px;
}

/* page 2 */
.page1{
    color: #3d535f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 5%; */
    width: 90vw;
    /* height: 80vh; */
    left: 5%;
    top: 5vh;
    /* height: 80vh; */
    /* width: 100%; */
    padding: 2vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    margin-top: 5vh;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    position: relative; 
    border-radius: 1vw;
    border: 2px solid rgba(255, 255, 255,0.7 );
    backdrop-filter: blur(20px); /*important! 1*/ 
    border-left:2px  solid rgba(255, 255, 255, 0.5);
    border-bottom:2px  solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 30px rgb(130, 129, 129,0.3);
}
.page1 .project1{
    padding-left: 40px;
    font-size: 1vw; 
    
}
.page1 .project1 h1{
    font-size: 2vw;
}

.foot{
    color: #3d535f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 5%; */
    width: 100vw;
    /* height: 20vh; */
    /* left: 5%; */
    top: 5vh;
    /* height: 80vh; */
    /* width: 100%; */
    padding: 2vw;
    margin-top: 5vh;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    position: relative; 
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border: 2px solid rgba(255, 255, 255,0.7 );
    backdrop-filter: blur(20px); /*important! 1*/ 
    border-left:2px  solid rgba(255, 255, 255, 0.5);
    border-bottom:2px  solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 30px rgb(130, 129, 129,0.3);
}
.foot .footar{
    padding-left: 2vw;
}
.foot .footar .links{
    /* position: fixed; */
    left: 40%;
    bottom: 30%;
    margin: 1.5vw 1vw;
}
.foot .footar .links a{
    font-size: 3vw;
    color: #3d535f;
    margin: 1.5vw 1vw;
}
.foot .footar .links a:hover{
    color: #7f00ff;
}
/* .foot .footar .links h1{
    left: 10%;
} */

/* --------------------Video1----------------- */
.video1 .port{
    width: 35vw;
    border-radius: .5vw;
}
#video2 .movi{
    width: 35vw;
    border-radius: .5vw;
}

/* ----------------------------Responsive------------------- */

@media screen and (min-width: 280px) and (max-width:420px){
    .Logo {
        display: flex;
        font-size: 4vw;
        font-weight: 800;
        color: #3d535f;
        letter-spacing: 2px;
        cursor: pointer;
        margin-top: 10px;
        /* text-transform: uppercase; */
    }
    .navItems li {
        list-style: none;
        margin: 10px 6px;
    }
    
    .navItems li a {
        font-size: 3vw;
        color: #3d535f;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: capitalize;
    }
    .page{
        display: list-item;
        padding-top: 2vw;
        padding-bottom: 1vw;
    }
    .video1 {
        padding-top: 3vw;
    }
    .video1 .port{
        width: 85vw;
        border-radius: 1vw;
    }
    .page .project{
        padding-right: 0px;
        font-size: 1.5vw;
        
    }
    .page .project h1{
        font-size: 3vw;
    }


    .page1{
        display: list-item;
        padding-top: 2vw;
        padding-bottom: 1vw;
    }
    #video2 .movi{
        width: 85vw;
        border-radius: 1vw;
    }
    #video2 {
        padding-bottom: 2vw;
    }
    .page1 .project1{
        padding-left: 0px;
        font-size: 1.5vw;
        
    }
    .page1 .project1 h1{
        font-size: 3vw;
    }
}
